body {
	font-family: futura, helvetica, arial, sans-serif;
	background: black;
	color: #dddddd;
	font-weight: normal;
	padding: 20px;
}

h1 {
	color: white;
	font-weight: normal;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	color: red;
	text-decoration: underline;
}

a:visited {
	color #dddddd;
	text-decoration: underline;
}

.menu a {
	color: white;
	text-decoration: none;
	margin: 10px;
}

.menu a:hover {
	text-decoration: underline;
}

.white {
	color: white;
}

.red {
	color: #ff0000;
}

.center {
	text-align: center;
}

.small {
	font-style: normal;
	font-size: 80%;
}

.page {
	border-top: 1px dashed #333333;
}
